@import 'core/settings';


.page {
	background: red;
	margin: 0;
  padding: 0;
	height: 100vh;
}

.container__form{
  background-color: blue;
}

.container__list{
  background-color: yellow;
}

.list__item{
  background-color: white;
  width: 160px;
  height: 195px;
  border-radius: 10px;
  border: solid 1px black;
  list-style: none;
}

.image{
border-radius: 10px;
}
