<div class="container container__form">

    <form class="form">
      <input type="radio" class="input__form" id="input-4" name="input" value="4" >
      <label for="input-4" class="label__form">4</label>
      <input type="radio" class="input__form" id="input-6" name="input" value="6">
      <label for="input-6" class="label__form">6</label>
      <input type="radio" class="input__form" id="input-8" name="input" value="8">
      <label for="input-8" class="label__form">8</label>
    </form>
    <button class="start-btn" type="submit">Comenzar</button>
  </div>

  <div class="container container__list">
    <ul class="list"></ul>
  </div>
