<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Juego de parejas: Pokemon</title>
  <link rel="icon" href="favicon.png"/>
	<link rel="stylesheet" href="assets/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body class="page">

  <header class="header__container">
     <img class="logo" src="assets/images/pokeball.png" width="100" height="100">
     <h1 class="title"> El juego de las parejas </h1>
  </header>
  <div class="container container__form">

    <form class="form">
      <input type="radio" class="input__form" id="input-4" name="input" value="4" >
      <label for="input-4" class="label__form">4</label>
      <input type="radio" class="input__form" id="input-6" name="input" value="6">
      <label for="input-6" class="label__form">6</label>
      <input type="radio" class="input__form" id="input-8" name="input" value="8">
      <label for="input-8" class="label__form">8</label>
    </form>
    <button class="start-btn" type="submit">Comenzar</button>
  </div>

  <div class="container container__list">
    <ul class="list"></ul>
  </div>
  <audio class="audio audio-selected" src="assets/media/selected.mp3"></audio>
  <audio class="audio-missed" src="assets/media/missed.mp3"></audio>
  <audio class="audio-matched" src="assets/media/matched.mp3"></audio>
  <audio class="audio-deal" src="assets/media/deal.mp3"></audio>
  <audio class="audio-victory" src="assets/media/victory.mp3"></audio>



  <script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>
